<div id="tidy5e-equipment">
  <header class="equipment-header">
    <h4>Equipped Items</h4>
  </header>
  <div class="equipment-body">
    <h4>Weapon Sets</h4>
    <section class="weapon-sets">
      <ul class="weapon-set melee active">
        <li class="item-slot primary" data-slot="set.0.primary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="item-slot secondary" data-slot="set.0.secondary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="equipped"></li>
      </ul>
      <ul class="weapon-set ranged">
        <li class="item-slot primary" data-slot="set.1.primary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="item-slot secondary" data-slot="set.1.secondary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="equipped"></li>
      </ul>
      <ul class="weapon-set spell">
        <li class="item-slot primary" data-slot="set.2.primary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="item-slot secondary" data-slot="set.2.secondary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="equipped"></li>
      </ul>
      <ul class="weapon-set utility">
        <li class="item-slot primary" data-slot="set.3.primary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="item-slot secondary" data-slot="set.3.secondary">
          <div class="item" data-item-id="" style="background-image='url()';"></div>
        </li>
        <li class="equipped"></li>
      </ul>
    </section>
  </div>
</div>