#t5eah-equipmentTab {
  position: absolute;
  top: 0;
  left: -210px;
  width: 210px;
  height: 100%;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  z-index: -20;
  border-radius: 5px 0 0 5px;

  .t5eah-equipment-header {
    border: none;
    padding: 0 8px;
    border-radius: 5px 0 0 0;
    background: #333;
    height: 30px;

    h4 {
      margin: 0;
      color: #f0f0e0;
      line-height: 30px;
    }
  }

  .t5eah-equipment-body {
    flex: 1;
    background: url(/ui/parchment.jpg) repeat;
    border-radius: 0 0 0 5px;
    padding: 10px;

    h1 {
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      padding: 0;
      margin: 0 0 8px 0;
      border: none;
    }

    h2 {
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      padding: 8px 0 4px 0;
      text-align: center;
      margin: 0 0 4px 0;
      cursor: pointer;
      border: none;
    }
  }

  .setContainer {
    background: rgba(0, 0, 0, .15);
    color: #fff;
    border-radius: 5px;

    &.equipped {
      background: rgba(51, 172, 50, 1);
    }
  }

  .itemSlot {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .2);
    position: relative;
    cursor: pointer;

    .item {
      width: 100%;
      height: 100%;
    }

    .label {
      display: none;
    }

    &::after {
      content: '';
      width: 70%;
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      background: transparent center no-repeat;
      opacity: .1;
      transform: translate(-50%, -50%);
    }
  }

  .headwear::after {
    background-image: url(../img/headwear.svg);
  }

  .necklace::after {
    background-image: url(../img/amulet.svg);
  }

  .back::after {
    background-image: url(../img/cloak.svg);
  }

  .armor::after {
    background-image: url(../img/armor.svg);
  }

  .bracers::after {
    background-image: url(../img/bracers.svg);
  }

  .gloves::after {
    background-image: url(../img/gloves.svg);
  }

  .ringLeft::after,
  .ringRight::after {
    background-image: url(../img/ring.svg);
  }

  .belt::after {
    background-image: url(../img/belt.svg);
  }

  .boots::after {
    background-image: url(../img/boots.svg);
  }

  .primary::after {
    background-image: url(../img/handA.svg);
  }

  .secondary::after {
    background-image: url(../img/handB.svg);
  }

  #bodySets {

    .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 2px;
    }

    .setContainer {
      padding: 0 5px 5px 5px;
      width: 92px;
    }

    .bodySet {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 1px;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
  }

  #handSets {
    margin-top: 16px;

    .wrapper {
      display: flex;
      justify-content: space-between;
    }

    .setContainer {
      width: 44px;
      padding: 2px;
    }

    .handSet {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1px;
    }
  }
}

#t5eahSlotLabel {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  background: #222;
  border-radius: 5px;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

  h3 {
    font-size: 10px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }
}